body{
    margin: 10%;
    color: white;
    font-family: 'Cute Font', cursive;
}

.row{
	margin: 2%;
}
#comment{
	margin: 2%;
}
#list{
    background-color: white;
    color: black;
    
}
.btn{
    border-radius: 10px;
    width: 18%;
    color: #e76d09;
    border: 3px solid rgb(255, 178, 127);
    background-color: white;
}
.table{
    width: 82%;
}
#btn-report{
    margin: 1%;
}
#btn-warning{
    margin: 1%
}
#btn-danger{
    margin: 1%
}
#btn-primary{
    margin: 1%
}
.text-center{
    font-size: 1.5em;
    margin: 10%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body > div > div.col-xs-8.col-md-8 > div > table > tbody > tr> th{
    width: 10%;
}
.chu{
	float: right;
	border-radius: 10px;
    width: 18%;
    heiht: 50%;
    color: #e76d09;
    border: 3px solid rgb(255, 178, 127);
    background-color: white;
}