body{
    margin: 5%;
    color: white;
    font-family: 'Cute Font', cursive;
    font-size: 2em;
}

.row{
	margin: 2%;
}
#comment{
	margin: 2%;
}
#list{
    background-color: white;
    color: black;
    border-radius: 10px;
    
}
.btn{
    border-radius: 10px;
    width: 22%;
    color: white;
    border: 3px solid rgb(255, 178, 127);
    background-color: rgb(255, 178, 127);
    border-radius: 10px;
}
.table{
    width: 100%;

	border-color:rgb(94, 221, 158);
    color: black;
}
.input{
	width: 600px;
}
.btn1{
	float: right;
	width: 100%;
	color: white;
    border: 3px solid rgb(255, 178, 127);
    background-color: rgb(255, 178, 127);
    border-radius: 10px;
}
.btn1:hover{
	color: #e76d09;
	border: 3px solid rgb(255, 178, 127);
    background-color: white;
}
#btn-report{
    margin: 1%;
}
#btn-report:hover{
	color: #e76d09;
    border: 3px solid rgb(255, 178, 127);
    background-color: white;
    border-radius: 10px;
}
#btn-warning{
    margin: 1%
}
#btn-warning:hover{
	color: #e76d09;
    border: 3px solid rgb(255, 178, 127);
    background-color: white;
    border-radius: 10px;
}
#btn-danger{
    margin: 1%
}
#btn-danger:hover{
	color: #e76d09;
    border: 3px solid rgb(255, 178, 127);
    background-color: white;
    border-radius: 10px;
}
#btn-primary{
    margin: 1%
}
#btn-primary:hover{
	color: #e76d09;
    border: 3px solid rgb(255, 178, 127);
    background-color: white;
    border-radius: 10px;
}
.text-center{
    font-size: 1.5em;
    margin: 10%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body > div > div.col-xs-8.col-md-8 > div > table > tbody > tr> th{
    width: 10%;
}
.chu{
	float: right;
	border-radius: 10px;
    width: 10%;
    height: 50%;
    color: white;
    border: 3px solid rgb(255, 178, 127);
    background-color: rgb(255, 178, 127);
}
.chu:hover{
	font-weight:bold;
	color: #e76d09;
    border: 3px solid rgb(255, 178, 127);
    background-color: white;
}
.body{
	
	background-color: white; 
}