body{
    margin: 5%;
    font-family: 'Cute Font', cursive; 
    font-size:1.2em;  
}
#list{
    background-color: white;
    color: black;
	border: 3px solid rgb(255, 178, 127);
	border-radius: 10px;
	font-size: 30px;
    
}
.head{
	background-color: rgb(199, 198, 198);
}
.admin{
	background-color:rgb(253, 197, 160);
}
	

.btn{
    width: 10%;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    color: #e76d09;
    float:right;
}
.input{
    width: 40%;
    margin: 5px;
    height: 20px;
    float:right;
}
#writer{
    width: 20%;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    color: #e76d09;
    
}

#searchType{
    height: 20px;
    margin: 0px;
    color: #e76d09;
}
.cap{
    font-size: 1.5em;
    margin: 1%;
    color: white;
}
.head{
    font-weight: bold;
}
#board > table.btng > tbody > tr > td> input{
    width: 60%;
}
#btnBoard{
    margin: 5px;
}

