/* General Blueprint Style */
@charset "UTF-8";
@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/bpicons/bpicons.eot');
	src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../fonts/bpicons/bpicons.woff') format('woff'), url('../fonts/bpicons/bpicons.ttf') format('truetype'), url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
}/* Made with http://icomoon.io/ */
/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	backdrop-filter: blur(10px)
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 3px solid #e76d09;
	width: 50%; /* Could be more or less, depending on screen size */       
	color: #e76d09; 
	border-radius: 20px;
	                  
}



body {
	--button-border-radius: 10px;
	--button-bg: #d8d4cf;
	--button-stroke: #d8d4cf;
	--button-stroke-width: 0px;
	--button-text: #000;
	--button-bg-hover: #d8d4cf;
	--button-stroke-hover: rgb(250, 184, 99);
	--button-stroke-width-hover: 2px;
	--button-text-hover: rgb(250, 184, 99);
	--cursor-stroke: #(250, 184, 99);
    --cursor-fill: #(250, 184, 99);
    --cursor-stroke-width: 0px;
}

.button {
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-width: var(--button-stroke-width);
	border-color: var(--button-stroke);
	border-style: solid;
	color: var(--button-text);
	background: var(--button-bg);
	border-radius: var(--button-border-radius);
	min-width: 12rem;
	height: 5rem;
	padding: 0;
	margin: auto;
	font-family: inherit;
	font-size: 1.5rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: border-color 0.2s ease;
	background-color: white;
	cursor:pointer;
}

.button:focus,
.button--hover {
	outline: none;
	border-width: var(--button-stroke-width-hover);
	border-color: var(--button-stroke-hover);
	color: var(--button-text-hover);
	background: var(--button-bg-hover);
}

.button__text, 
.button__text-inner {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-family:  'Cute Font', cursive;
	font-size: 40px;
	color: #e76d09;
}


* {margin: 0;;padding:0;box-sizing:border-box;}
ul, li {list-style:none;}

[name="slide"] {display:none;}
.slidebox {max-width:1000px;width:100%;margin:0 auto;text-align:center;}
.slidebox img {max-width:100%;}
.slidebox .slidelist {
	white-space:nowrap;
	font-size:0;
	overflow:hidden;
}
.slidebox .slideitem {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:100%;
	transition:all .35s;
}
.slidebox .slideitem label {
	position:absolute;
	z-index:1;
	top:50%;
	transform:translateY(-50%);
	padding:20px;
	border-radius:50%;
	cursor:pointer;
}


[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide01 60s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide02 60s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation:slide03 60s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%);animation:slide04 60s infinite;}
[id="slide05"]:checked ~ .slidelist .slideitem {transform:translateX(-400%);animation:slide05 60s infinite;}
[id="slide07"]:checked ~ .slidelist .slideitem {transform:translateX(-500%);animation:slide07 60s infinite;}
[id="slide08"]:checked ~ .slidelist .slideitem {transform:translateX(-600%);animation:slide08 60s infinite;}
[id="slide09"]:checked ~ .slidelist .slideitem {transform:translateX(-700%);animation:slide09 60s infinite;}
[id="slide10"]:checked ~ .slidelist .slideitem {transform:translateX(-800%);animation:slide10 60s infinite;}
[id="slide11"]:checked ~ .slidelist .slideitem {transform:translateX(-900%);animation:slide11 60s infinite;}
[id="slide12"]:checked ~ .slidelist .slideitem {transform:translateX(-1000%);animation:slide12 60s infinite;}
[id="slide13"]:checked ~ .slidelist .slideitem {transform:translateX(-1100%);animation:slide13 60s infinite;}
[id="slide14"]:checked ~ .slidelist .slideitem {transform:translateX(-1200%);animation:slide14 60s infinite;}
[id="slide15"]:checked ~ .slidelist .slideitem {transform:translateX(-1300%);animation:slide15 60s infinite;}
[id="slide16"]:checked ~ .slidelist .slideitem {transform:translateX(-1400%);animation:slide16 60s infinite;}
[id="slide17"]:checked ~ .slidelist .slideitem {transform:translateX(-1500%);animation:slide17 60s infinite;}
[id="slide18"]:checked ~ .slidelist .slideitem {transform:translateX(-1600%);animation:slide18 60s infinite;}
[id="slide19"]:checked ~ .slidelist .slideitem {transform:translateX(-1700%);animation:slide19 60s infinite;}
[id="slide20"]:checked ~ .slidelist .slideitem {transform:translateX(-1800%);animation:slide20 60s infinite;}
[id="slide21"]:checked ~ .slidelist .slideitem {transform:translateX(-1900%);animation:slide21 60s infinite;}


@keyframes slide01 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:-700%;}
	40% {left:-800%;}
	45% {left:-900%;}
	50% {left:-1000%;}
	55% {left:-1100%;}
	60% {left:-1200%;}
	65% {left:-1300%;}
	70% {left:-1400%;}
	75% {left:-1500%;}
	80% {left:-1600%;}
	85% {left:-1700%;}
	90% {left:-1800%;}
	95% {left:-1900%;}
	100% {left:0%;}
}
@keyframes slide02 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:-700%;}
	40% {left:-800%;}
	45% {left:-900%;}
	50% {left:-1000%;}
	55% {left:-1100%;}
	60% {left:-1200%;}
	65% {left:-1300%;}
	70% {left:-1400%;}
	75% {left:-1500%;}
	80% {left:-1600%;}
	85% {left:-1700%;}
	90% {left:-1800%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide03 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:-700%;}
	40% {left:-800%;}
	45% {left:-900%;}
	50% {left:-1000%;}
	55% {left:-1100%;}
	60% {left:-1200%;}
	65% {left:-1300%;}
	70% {left:-1400%;}
	75% {left:-1500%;}
	80% {left:-1600%;}
	85% {left:-1700%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide04 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:-700%;}
	40% {left:-800%;}
	45% {left:-900%;}
	50% {left:-1000%;}
	55% {left:-1100%;}
	60% {left:-1200%;}
	65% {left:-1300%;}
	70% {left:-1400%;}
	75% {left:-1500%;}
	80% {left:-1600%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide05 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:-700%;}
	40% {left:-800%;}
	45% {left:-900%;}
	50% {left:-1000%;}
	55% {left:-1100%;}
	60% {left:-1200%;}
	65% {left:-1300%;}
	70% {left:-1400%;}
	75% {left:-1500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide07 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:-700%;}
	40% {left:-800%;}
	45% {left:-900%;}
	50% {left:-1000%;}
	55% {left:-1100%;}
	60% {left:-1200%;}
	65% {left:-1300%;}
	70% {left:-1400%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide08 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:-700%;}
	40% {left:-800%;}
	45% {left:-900%;}
	50% {left:-1000%;}
	55% {left:-1100%;}
	60% {left:-1200%;}
	65% {left:-1300%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide09 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:-700%;}
	40% {left:-800%;}
	45% {left:-900%;}
	50% {left:-1000%;}
	55% {left:-1100%;}
	60% {left:-1200%;}
	65% {left:700%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide10 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:-700%;}
	40% {left:-800%;}
	45% {left:-900%;}
	50% {left:-1000%;}
	55% {left:-1100%;}
	60% {left:800%;}
	65% {left:700%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide11 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:-700%;}
	40% {left:-800%;}
	45% {left:-900%;}
	50% {left:-1000%;}
	55% {left:900%;}
	60% {left:800%;}
	65% {left:700%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide12 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:-700%;}
	40% {left:-800%;}
	45% {left:-900%;}
	50% {left:1000%;}
	55% {left:900%;}
	60% {left:800%;}
	65% {left:700%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide13 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:-700%;}
	40% {left:-800%;}
	45% {left:1100%;}
	50% {left:1000%;}
	55% {left:900%;}
	60% {left:800%;}
	65% {left:700%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide14 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:-700%;}
	40% {left:1200%;}
	45% {left:1100%;}
	50% {left:1000%;}
	55% {left:900%;}
	60% {left:800%;}
	65% {left:700%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide15 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:-600%;}
	35% {left:1300%;}
	40% {left:1200%;}
	45% {left:1100%;}
	50% {left:1000%;}
	55% {left:900%;}
	60% {left:800%;}
	65% {left:700%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide16 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:-500%;}
	30% {left:1400%;}
	35% {left:1300%;}
	40% {left:1200%;}
	45% {left:1100%;}
	50% {left:1000%;}
	55% {left:900%;}
	60% {left:800%;}
	65% {left:700%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide17 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:-400%;}
	25% {left:1500%;}
	30% {left:1400%;}
	35% {left:1300%;}
	40% {left:1200%;}
	45% {left:1100%;}
	50% {left:1000%;}
	55% {left:900%;}
	60% {left:800%;}
	65% {left:700%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide18 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:-300%;}
	20% {left:1600%;}
	25% {left:1500%;}
	30% {left:1400%;}
	35% {left:1300%;}
	40% {left:1200%;}
	45% {left:1100%;}
	50% {left:1000%;}
	55% {left:900%;}
	60% {left:800%;}
	65% {left:700%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide19 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:-200%;}
	15% {left:1700%;}
	20% {left:1600%;}
	25% {left:1500%;}
	30% {left:1400%;}
	35% {left:1300%;}
	40% {left:1200%;}
	45% {left:1100%;}
	50% {left:1000%;}
	55% {left:900%;}
	60% {left:800%;}
	65% {left:700%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide20 {
	0% {left:0%;}
	5% {left:-100%;}
	10% {left:1800%;}
	15% {left:1700%;}
	20% {left:1600%;}
	25% {left:1500%;}
	30% {left:1400%;}
	35% {left:1300%;}
	40% {left:1200%;}
	45% {left:1100%;}
	50% {left:1000%;}
	55% {left:900%;}
	60% {left:800%;}
	65% {left:700%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}
@keyframes slide21 {
	0% {left:0%;}
	5% {left:1900%;}
	10% {left:1800%;}
	15% {left:1700%;}
	20% {left:1600%;}
	25% {left:1500%;}
	30% {left:1400%;}
	35% {left:1300%;}
	40% {left:1200%;}
	45% {left:1100%;}
	50% {left:1000%;}
	55% {left:900%;}
	60% {left:800%;}
	65% {left:700%;}
	70% {left:600%;}
	75% {left:500%;}
	80% {left:400%;}
	85% {left:300%;}
	90% {left:200%;}
	95% {left:100%;}
	100% {left:0%;}
}






body> div> div> div > h1{
	text-align: center;
	font-family: 'Cute Font', cursive;
	font-size : 120px;
	color: white;
	margin: 20px;
}
/* Main styles */

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	overflow: hidden;
	margin: 0;
	color: #cecece;
	background: #e76d09;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


a {
	text-decoration: none;
	color: #fff;
	outline: none;
}

a:hover {
	color: #ddd;
}

.container {
	overflow-y: auto;
	height: 100vh;
}


/* Blueprint header */

.bp-header {
	display: -webkit-flex;
	display: flex;
}

.bp-header__main {
	margin: 0 0 0 auto;
	padding: 2em 3em 0;
	text-align: right;
}

.bp-header__title {
	font-size: 2em;
	font-weight: 400;
	line-height: 1.3;
	margin: 0.25em 0 0;
	font-family: 'Cute Font', cursive;
	color: white;
}

.bp-header__present {
	font-size: 0.75em;
	font-weight: 700;
	position: relative;
	z-index: 100;
	display: block;
	margin: 0 -8px 0 0;
	padding: 0 0 0.6em 0;
	text-indent: 3px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: white;
}

.bp-tooltip:after {
	position: relative;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 0;
	height: 0;
}

.bp-tooltip:hover:before {
	content: attr(data-content);
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
	position: absolute;
	top: 1.5em;
	right: 0;
	width: 50vw;
	padding: 0.8em 1em;
	text-align: right;
	text-indent: 0;
	letter-spacing: 0;
	text-transform: none;
	color: #e76d09;
	background: white;
}

.bp-nav {
	margin: 0.5em 0 0 auto;
	text-align: right;
}

.bp-nav__item {
	position: relative;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin: 0 0.1em;
	text-align: left;
	border-radius: 50%;
}

.bp-nav__item > span {
	display: none;
}

.bp-nav__item:hover:before {
	content: attr(data-info);
	font-size: 0.85em;
	font-weight: bold;
	position: absolute;
	top: 120%;
	right: 0;
	width: 600%;
	text-align: right;
	pointer-events: none;
	color: white;
}

.bp-nav__item:hover {
	background: #17ce63;
}

.bp-icon:after {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: white;
	-webkit-font-smoothing: antialiased;
	
}

.bp-nav .bp-icon:after {
	line-height: 2.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: 0;
}

.bp-nav a:hover:after {
	color: #fff;
}

.bp-icon--next:after {
	content: '\e000';
}

.bp-icon--drop:after {
	content: '\e001';
}

.bp-icon--archive:after {
	content: '\e002';
}

.bp-icon--about:after {
	content: '\e003';
}

.bp-icon--prev:after {
	content: '\e004';
}

.dummy-logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 120px;
	padding: 1em 0 0 0;
	text-align: center;
	color: #ff7b00;
	background: #e2d9a4;
}

.dummy-icon {
	font-size: 4em;
}

.dummy-heading {
	font-size: 0.75em;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.content {
	position: relative;
	min-height: 300px;
	margin: 0 0 0 300px;
}

.content--loading {
	background: url(../img/loading.svg) no-repeat 50% 50%;
}

#products {
	width: 95%;
	min-width: 600px;
	height: 800px;
	box-sizing: border-box;
	border: 6px solid #14c25d;
	padding: 0;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	border-radius: 20px;
}

.product {
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 5px;
	background: #14c25d;
}

.product .foodicon {
	font-size: 4em;
	line-height: 190px;
	color: #b4be23;
}

.info {
	font-size: 1.1em;
	font-weight: bold;
	padding: 20vh 1em 0;
	text-align: center;
	color: #fbff17;
}

body #cdawrap {
	top: auto;
	bottom: 15px;
	background: rgb(255, 255, 255);
}

body #cdawrap .carbon-text {
	color: #fd30c0;
}

body #cdawrap a.carbon-poweredby {
	color: #d39b03;
}

body #cdawrap a:hover.carbon-poweredby {
	color: rgb(201, 9, 9);
}

@media screen and (max-width: 40em) {
	.bp-header {
		padding-top: 3em;
	}
	.bp-header__main,
	.bp-nav {
		width: 100%;
		text-align: center;
	}
	.dummy-logo {
		display: none;
	}
	.content {
		margin: 0;
	}
	body,
	.container {
		height: auto;
		overflow: auto;
	}
}
