* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:sans-serif;
  
  }
  
  body {
    background-image:#34495e;
  }
  
  .joinForm {
    position:absolute;
    width:40%;
    height:600px;
    padding: 30px, 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 40px;
  }
 
  .joinForm h2 {
    text-align: center;
    margin: 30px;
    color: #e76d09;
  }
  
  .textForm {
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
  }
  
  
  .id {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:10%;
    background: none;
  }
  
  .pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:10%;
    background: none;
  }
  
  .name {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:10%;
    background: none;
  }
  
  .email {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:10%;
    background: none;
  }
  
  .nickname {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:10%;
    background: none;
  }
  
  
  .btn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:50px;
    background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
    background-position: left;
    background-size: 200%;
    color:white;
    font-size: 1.2em;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    border-radius: 40px;
  }
  
  .btn:hover {
    background-position: right;
  }