body{
    color:  white;
    margin: 10%
}

hr{
	width: 90%;
	color: gray;
	align-items: center;
	margin: 10px;
}

.restName{
	text-align: center;
	margin-top: 5%;
	margin-left: 5%; 
	font-size: 20px;
	vertical-align: middle;
}

.restCate{
	text-align: center;
	margin-top: 5%;
	margin-left: 2%; 
	font-size: 14px;
	vertical-align: middle;
}

.enterDate{
	font-size: 14px;
	margin-top: 3%;
	margin-right: 10%;
	float: right;
	vertical-align: middle;
}

.btnS{
    float: right;
}

#rv{
    width: 10%;
    border-radius: 10px;;
    color: white;
    border: 2px solid white;
    background-color: coral;
}
#rv:hover{ 
    background-color: rgb(255, 68, 0);

}
#good{
    width: 15%;
    border-radius: 10px;
    color: white;
    background-color: rgb(61, 111, 248);
    border: 2px solid white;
}
#good:hover{
    background-color: rgb(0, 66, 248);
}
#bad{
    width: 15%;
    border-radius: 10px;
    background-color: rgb(245, 60, 60);
    color: white;
    border: 2px solid white;
}
#bad:hover{
    background-color: rgb(247, 0, 0);
}

<!--府轰技何郴开-->
.select_res{
    width: 100%;
    box-sizing: border-box; 
    margin: 5%;
}

.sel{
    font-size: 20px;
    background-color: rgb(250, 160, 76);
    color:  white;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
}
.reviewDetail{
	margin-left: 4%;
	display : none;
}

.rateWrap{
	width: 75%;
	height: 20%;
	float: left;
}

.rate{
	width: 30%;
	height: 100%;
	text-align: center;
	font-size: 13px;
	border: 2px solid rgb(94, 221, 158);
	border-radius: 10%;
	margin: 1%;
	display: inline-block;
	color: rgb(94, 221, 158);
	background-color: white;
}

.btnWrap{
	width: 25%;
	height: 20%;
	float: right;
}

.reviewContent{
	width:100%;
}

.innerReview{
    float: right;
    text-align: right;
    width: 80%;
    height: 42px;
    background-color: coral;
    border: 2px solid white;
    border-radius: 10px;
}
