body{
    background-color:#e76d09;
    margin: 20%;
}
.div {
    width: 40%;
    min-width: 500px;
    height: 500px;  
}
.relode{
	float: right;
	border-radius: 10px;
    width: 50%;
    min-width: 300px;
	height: 50px;
	border: 3px solid rgb(255, 178, 127);
    background-color: white;
    color: #e76d09;
    font-size: 0.8em;
}
.relode:hover{
	background-color: rgb(253, 101, 0);
	color : white;
	border: 3px solid white;
}
div.menuWrap {
    width: 30%;
    min-width: 200px;
    float: left;
    box-sizing: border-box;
    border: 3px solid rgb(255, 178, 127);
    background-color: white;
    color: #e76d09;
    border-radius: 10px;
    font-size: 1em;
}
div.restaurantList {
    width: 50%;
    min-width: 300px;
    float: right;
    box-sizing: border-box;
    border: 3px solid rgb(255, 178, 127);
    background-color: white;
    color: white;
    border-radius: 10px;
}
.restaurantWrap{
    width: 100%;
    /*height: 52px;*/
    font-size: 1.2em;
    background-color: coral;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 10px;
}
.menuName{
    font-weight: bold;
    font-size: 1.2em;
    background-color: coral;
    color: white;
    font-weight: bold;
}
.resBtn{
    background-color: rgb(255, 178, 127);
    border-radius: 10px;
    color: white;
    border: 1px solid white;
}
.resBtn:hover{
    background-color: rgb(253, 101, 0);
}
.btnChoice{
    text-align: center;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(94, 221, 158);  
    color: white;
    border: 1px solid white;
}
.btnChoice:hover{
    background-color: rgb(0, 228, 49); 
}
