<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 어떤 DAO에서 사용하는지 -->
<mapper namespace="MT.model.BoardDAO">

	<insert id="imgWrite"
	parameterType="BoardVO">
		insert into board
		values(
		board_seq.nextval,
		#{BOARD_TITLE},
		#{BOARD_CONTENT},
		#{MEMBER_ID},
		sysdate,
		#{FILE_NAME},
		#{WRITER},
		0
		)
	</insert>
	
	
	<insert id="write"
	parameterType="BoardVO">
		insert into board
		values(
		board_seq.nextval,
		#{BOARD_TITLE},
		#{BOARD_CONTENT},
		#{MEMBER_ID},
		sysdate,
		'test',
		#{WRITER},
		0
		)
	</insert>

	
	<select id="selectBoard"
	resultType="BoardVO">
		select * from board
		order by BOARD_NO desc
	</select>
	
	<update id="update"
	parameterType="BoardVO">
	update board
	set BOARD_TITLE = #{BOARD_TITLE}, BOARD_CONTENT = #{BOARD_CONTENT}
	where BOARD_NO = #{BOARD_NO}
	</update>
	
	<select id="search"
	resultType="BoardVO">
		select * from board
		where board_title like #{search}
	</select>
	
	<delete id="delete"
	parameterType="int">
	delete from board
	where BOARD_NO = #{BOARD_NO}
	</delete>
	
	<select id="selectOne"
	resultType="BoardVO">
		select * from board
		where BOARD_NO = #{num}
	</select>
	
	<select id="goodCheck"
	parameterType="PushVO"
	resultType="PushVO">
		select count(*) from push
		where BOARD_NO = #{BOARD_NO}
		and MEMBER_ID = #{MEMBER_ID}
	</select>
	
	<update id="goodAdd"
	parameterType="BoardVO">
		update board set good = board.good + 1
		where BOARD_NO = #{BOARD_NO}
	</update>
	
	<insert id="push"
	parameterType="BoardVO">
		insert into push
		values(
		#{BOARD_NO},
		#{MEMBER_ID}
		)
	</insert>
	

</mapper>