<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 어떤 DAO에서 사용하는지 -->
<mapper namespace="MT.model.MenuDAO">
	<select id="selectMenu" 
		resultType="MenuVO">
		SELECT A.MENU_ID
            	     , A.MENU_NM
                     , A.PARENT_ID
                     , A.DISCRIPTION
                     , A.CODE_LIST
                     , A.IMAGE_PATH
		  FROM ( SELECT *
			   FROM MENU
		        ORDER BY DBMS_RANDOM.VALUE ) A
		 WHERE ROWNUM = 1
	</select>
	
	<select id="selectIconMenu" 
		resultType="MenuVO">
		SELECT MENU_ID
            	     , MENU_NM
            	     , PARENT_ID
            	     , DISCRIPTION
            	     , CODE_LIST
            	     , IMAGE_PATH
		  FROM MENU
                 WHERE MENU_ID = #{menu_id}
	</select>
</mapper>
