<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 어떤 DAO에서 사용하는지 -->
<mapper namespace="MT.model.ReplyDAO">

	<insert id="addComment"
	parameterType="ReplyVO">
		insert into reply
		values(
		reply_seq.nextval,
		#{BOARD_NO},
		#{REPLY_CONTENT},
		#{MEMBER_ID},
		sysdate,
		#{NICK}
		)
	</insert>

	<select id="selectList"
	parameterType="int"
	resultType="ReplyVO">
		select * from reply
		where board_no = #{num}
		order by reply_no desc
	</select>
	
	
	<select id="myList"
	resultType="ReviewVO">
		select * from reply
		where member_id like #{MEMBER_ID}
		order by review_NO desc
	</select>
	
	
	
</mapper>