<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 어떤 DAO에서 사용하는지 -->
<mapper namespace="MT.model.ReviewDAO">

	<insert id="insert"
	parameterType="ReviewVO">
		insert into review
		values(
		review_seq.nextval,
		#{REST_ID},
		#{REVIEW_LEVEL},
		#{REVIEW_CONTENT},
		#{MEMBER_ID},
		sysdate
		)
	</insert>
	
	
	<delete id="rDelete"
	parameterType="int">
		delete from review
		where REVIEW_NO = #{num}
	</delete>
	
	
	<select id="rSearch"
	parameterType="String"
	resultType="ReviewVO">
		select * from review
		where rest_id like #{REST_ID}
		order by review_NO desc
	</select>
	
	
	<select id="myRList"
	resultType="ReviewVO">
		select * from review
		where member_id like #{MEMBER_ID}
		order by review_NO desc
	</select>
	
	
	
	
	
	
	
</mapper>